.Search_Main {
  padding: 1rem 0.5rem;
  border-radius: 15px;
  border: 3px solid black;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .Search_Input {
    width: 100%;
    padding: 0 1rem;
    border: none;
    background-color: transparent;
    font-size: 1rem;
  }
  img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
  }
  .Search_Input:focus-visible {
    border: none;
    outline: none;
  }
}

